:root{
    width:100vw;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Norse';
    src: url('Norsebold.otf'),
    url('/Norsebold.otf') format('woff');
}


body{
    height: 100vh;
    margin: 0px;
    padding:0px;

    font-size: 1rem;
}

.main{
    padding:0px;
    margin:0px;
    display: flex;
    flex-direction: row;
    height:100vh;
}

div{
    padding:0px;
    margin:0px;
}


/* Left side of page */


.background{
    background-image: url("/bg-image.jpg");
    min-width: 40vw;
    max-width: 40vw;
    background-size: cover;
    background-repeat: no-repeat;
}


.logo{
    position: relative;
    top: 40%;
    background-color: rgba(0, 0, 0, .450);
    height:20vh;
    align-items: center;
    text-align: center;
    font-family:'Norse';
    color: white;
    display: flex;
    justify-content: center;
    font-size: 5rem;
}


/* Right side of page */


.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.info{
    align-content: center;
}

.info, .form, .create-account, .form-title{
    padding-left: 30px;
}


.form-title{
    padding-top:20px;
}

.form-title-text{
    font-weight: bold;
    padding-top:40px;
    font-size: 24;
}

label{
    padding-top:4px;
    padding-bottom: 4px;
}

.form{
    display:flex;
    flex-direction: column;
    padding-top:20px;
    padding-bottom:20px;
}


.info{
    font-weight:600;
}

.info, .create-account{
    background-color: rgb(250, 248, 248);
    height:100vh;
}


input:focus{
    outline-color: lightblue;
    outline-offset: 1px;
    outline-width: 1px;
}

.password:invalid, .confirm-password:invalid{
    outline-width: 1px;
    outline-offset: 1px;
    outline-color: red;
}



input{
    border: solid;
    width: 150px;
    border-width: 1px;
    border-color: #E5E7EB;
}

input:invalid{
    border-color: red;
}

.row-one, .row-two, .row-three{
    display: flex;
    flex-direction: row;
    width: 45%;
    padding-right:10px;
    padding-left: 0px;
    margin:0px;
    gap:90px;
}

.first-name, .last-name, .email, 
    .phone-number, .password, .confirm-password{
        display:flex;
        flex-direction: column;
        padding-top:4px;
        padding-bottom:4px;
        font-size: 7px;
        letter-spacing: 1px;
}

a{
    color: darkslategray;
    text-decoration: none;
}

button{
    background-color: #596D48;
    color: white;
    font-weight:700;
    width:150px;
    height:30px;
    border:none;
    border-radius: 8px;
}


.create-account{
    align-content: top;
    padding-top: 30px;
}