:root{
    width:100vw;
    font-family: Norsebold;
}

@font-face {
    font-family: 'Norse';
    src: url('Norsebold.otf'),
    url('/Norsebold.otf') format('woff');
}

.border{
    border:solid black 1px;
}

body{
    height: 100vh;
    margin: 0px;
    padding:0px;

    font-size: 1rem;
}

.main{
    padding:0px;
    margin:0px;
    display: flex;
    flex-direction: row;
    height:100vh;
}

.logo{
    position: relative;
    top: 40%;
    background-color: rgba(0, 0, 0, .450);
    height:20vh;
    align-items: center;
    text-align: center;
    font-family:'Norse';
    color: white;
    display: flex;
    justify-content: center;
    font-size: 5rem;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info, .create-account{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    height:100vh;
}

.background{
    background-image: url("/bg-image.jpg");
    min-width: 40vw;
    max-width: 40vw;
    background-size: cover;
    background-repeat: no-repeat;
}

