:root{
    width:100vw;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Norse';
    src: url('Norsebold.otf'),
    url('/Norsebold.otf') format('woff');
}


body{
    height: 100vh;
    margin: 0px;
    padding:0px;

    font-size: 1rem;
}

.main{
    padding:0px;
    margin:0px;
    display: flex;
    flex-direction: row;
    height:100vh;
}

div{
    padding:0px;
    margin:0px;
}


/* Left side of page */


.background{
    background-image: url("/bg-image.jpg");
    min-width: 40vw;
    max-width: 40vw;
    background-size: cover;
    background-repeat: no-repeat;
}


.logo{
    position: relative;
    top: 40%;
    background-color: rgba(0, 0, 0, .450);
    height:20vh;
    align-items: center;
    text-align: center;
    font-family:'Norse';
    color: white;
    display: flex;
    justify-content: center;
    font-size: 5rem;
}


/* Right side of page */


.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info, .form, .create-account, .form-title{
    padding-left: 30px;
}

.info{
    align-content: center;
}


.form-title{
    font-weight: bold;
    padding-top:20px;
}


.form{
    display:flex;
    flex-direction: row;
    font-size: x-small
}


.info, .create-account{
    background-color: lightgray;
    height:100vh;
}

input{
    width: 150px;
}

.col-one, .col-two{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-top:30px;
    padding-bottom:20px;
}

.first-name, .last-name, .email, 
    .phone-number, .password, .confirm-password{
        display:flex;
        flex-direction: column;
        padding: 5px;
}

a{
    color: darkslategray;
    text-decoration: none;
}

button{
    background-color: olivedrab;
    color: white;
    font-weight:700;
    width:150px;
    height:30px;
    border:none;
    border-radius: 8px;
}


.create-account{
    align-content: center;
}